body {
    margin-top: 50px;
}

#timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    text-align: center;
}

.waves-circle {
    padding: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media only screen and (max-width: 601px) {
    i.left {
        float: none !important;
        margin-right: 0;
    }
}

@media only screen and (max-width: 400px) {
    #timer {
        font-size: 80px;
    }
}
